*{
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* color: #f0f0f0; */
}
html,body{
  height: 100%;
  width: 100%;
}

body{
   background-color: #333;
   color: #171515;
}
.card{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    padding: 20px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: inline-block;
    margin:20px;
    
}

.top {
    width: 100%;
   display: flex;
    justify-content: space-between;
    padding: 00px 10px;
    /* background-color: blue; */
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
}
.top button{
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 10px;
    height: 27px;
    display: flex;
    justify-content: center;
    border:none;
}
.center{
    margin-top: 25px; 
    /* margin-bottom: 20px; */
    /* background-color:red; */
     font-weight:bold;
}
.center h2{
  font-size:19px;
   
}
.center h3{
  font-size:17px;
   
}
.tag h4{
  display: inline-block;
  font-size: 11px;
  font-weight:bold;
  background-color: #e0e0e0;
  border-radius: 2px;
  margin: 5px 5px 0 0;
  padding: 2px 6px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
        margin-top: 25px;
}

.bottom h4 {
  font-weight: normal;
  font-size: 12px;
}
.bottom button {
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  margin: 0px 5px;
  font-size: 13px;
  padding: 0px 15px;
  height: 30px;
}
